{% block topmenu %}
<!DOCTYPE html>
<html>
    <head>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">
    {% endblock %}
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
		{% endblock %}
    <style>
    h1 {
    font-family: Tahoma Geneva;
    font-size: 150%;
    font-weight:bold;
    color:#0d6efd;
    padding: 0 15px;
    border-right:1px solid #00FF333;
    text-transform:uppercase;
    text-decoration:none;
    text-align: center;
    margin: 25px 50px;
    }
    body {
    background-color: #F0FFFF;
    }
    a{ 
        color: #0000FF;
    }
    p {
      text-align: center;
        color: #ffffff;
    }
    .nav-item{
          font-size:15px;
          font-weight:bold;
          color:#15b7b9;
          padding: 0 5px;
          border-right:1px solid #00FF333;
          text-transform:uppercase;
          text-decoration:none;

    }
    </style>
    </head>
    <body> 
      <section class="myheader bg-light" >
            <div class="container ">
                <div class="row">
                    <div class="col-md-2 py-2">
                        <img src="{{ asset('image/logo.png') }}" class="img-fluid" style="width:120px;height:72px; alt="Logo">
                    </div>
                    <div class="col-md-7 py-4">
                       <div>
                          <ul class="nav justify-content-center">
                          <li class="nav-item">
                              <a class="nav-link" href="{{ path('app_home') }}">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ path('app_customer_index') }}">Customers</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ path('app_staff_index') }}">Staffs</a
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ path('app_category_index') }}">Category</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ path('app_bill_index') }}">Bill</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ path('app_product_index') }}">Product</a>
                            </li>
                          </ul> 
                      </div>
                    </div>
                    <div class="col-md-3 py-4">
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search product" aria-label="Search product">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    </div>
                    
                </div>
            </div>
        </section>
    <script src="js.bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js" ></script>

    <script>
    $(document).ready(function() {
      $('#bill').DataTable();
    });
    </script>
    <script>
    $(document).ready(function() {
      $('#customer').DataTable();
    });
    </script>
    <script>
    $(document).ready(function() {
      $('#staff').DataTable();
    });
    </script>
    <script>
    $(document).ready(function() {
      $('#category').DataTable();
    });
    </script>
    <script>
    $(document).ready(function() {
      $('#product').DataTable();
    });
    </script>
    
    </body>
  </html>
{% endblock%}
